{% extends "base.html" %}

{% block main %}
    <div class="p-5 mb-4 bg-light rounded-4">
      <h2>Login: </h2>

      <div>
        <p> Don't have an account? Click <a href="{{ url_for("auth.createAccount") }}">here</a> to create one! </p>
      </div>

      <form method="POST" action="{{ url_for("auth.login") }}">

        {{ form.hidden_tag() }}

        <div class="mb-3">
          {{ form.email.label(class_='form-label') }}
          {{ form.email(class_='form-control', placeholder='example@gmail.com') }}
          {% for error in form.email.errors %}
            {{error}}
          {% endfor %}
        </div>

        <div class="mb-3">
          {{ form.password.label(class_='form-label') }}
          {{ form.password(class_='form-control') }}
          {% for error in form.password.errors %}
            {{error}}
          {% endfor %}
        </div>

        {{ form.submit(class_='btn btn-primary') }}
        
      </form>
    </div>

{% endblock %}